body {
  margin: 0;
  background-color: #e0ebe8;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: .8em;
}

a {
  color: #11999E;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container {
  background-color: #E4F5F9;
  position: relative;
  padding-top: 100px;
}

.middle-container {}

.profile-pic {
  height: 300px;
  border-radius: 100%;
}

.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.skill-one {
  width: 150px;
  float: left;
  border-radius: 50%;
  margin-right: 30px;
}

.skill-two {
  width: 150px;
  float: right;
  border-radius: 50%;
  margin-left: 30px;
}

.bottom-container {}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}